@font-face {
  font-family: 'Theinhardt Bold';
  src: url("fonts/theinhardtbold-webfont.woff") format("woff");
}
@font-face {
  font-family: 'Theinhardt';
  src: url("fonts/theinhardtreg-webfont.woff") format("woff");
}

body {
  font-family: 'Theinhardt', sans-serif;
  margin:10vh 10vw 10vh 10vw;
}
